<script type="html/template" id="employer-template">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <a href='#mypage/<%%- user.id %>'>
          <%%- user.lastname %>
          <%%- user.firstname %>
        </a>
        <br/>
        <label>e-mail:</label>
        <label><%%- user.mail %></label>
      </div>
      <div class="col-md-4">
        <label><%=l(:project_title)%>:</label>
        <%% if ($.parseJSON(user.data) !== null) { %>
           <label><%%= $.parseJSON(user.data).project%></label>
        <%% } %>
        <br/>
        <label><%=l(:project_extra_title)%>:</label>
        <%% if ($.parseJSON(user.data) !== null) { %>
           <label><%%= $.parseJSON(user.data).project_extra%></label>
        <%% } %>
      </div>
      <div class="col-md-4">
        <label><%=l(:room_number)%>:</label>
        <%% if ($.parseJSON(user.data) !== null) { %>
           <label><%%= $.parseJSON(user.data).room_number%></label>
        <%% } %>
      </div>
    </div>
  </div>
  <div class="line-separator"/>
</script>