<script type="html/template" id="employer-template">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2 employer-img">
           <a href='#mypage/<%%- user.id %>'>
              <%% if (user.avatar_url == "noavatar") { %>
                <img class="no-profile-img"/>
              <%% } else {%>
                <img src=<%%- user.avatar_url %> alt="no img" />
              <%% } %>
           </a>
        </div>
        <div class="col-md-10 employer-text">
          <a href='#mypage/<%%- user.id %>'>
            <%%- user.lastname %>
            <%%- user.firstname %>
          </a>
          <br>
          <label>e-mail:</label>
          <label><%%- user.mail %></label>
          <br>
          <label><%=l(:project_title)%>:</label>
          <%% if ($.parseJSON(user.data) !== null) { %>
             <label><%%= $.parseJSON(user.data).project%></label>
          <%% } %>
          <br>
          <label><%=l(:project_extra_title)%>:</label>
          <%% if ($.parseJSON(user.data) !== null) { %>
             <label><%%= $.parseJSON(user.data).project_extra%></label>
          <%% } %>
          <br>
          <label><%=l(:room_number)%>:</label>
          <%% if ($.parseJSON(user.data) !== null) { %>
             <label><%%= $.parseJSON(user.data).room_number%></label>
          <%% } %>
        </div>
      </div>
      <div class="line-separator"/>
    </div>
  </div>
</script>