<!DOCTYPE html>
<head>
  <% content_for :header_tags do %>  
  <%= javascript_include_tag 'underscore-min.js', 'backbone-min.js','intercom.js', :plugin => 'intercom' %>  
<% end %>
</head>
<body>
	<p>
		This is a text.
	</p>
</body>
	
