<!DOCTYPE html>
<head>
  <% content_for :header_tags do %>
    <%= javascript_include_tag 'jquery-1.11.0.min.js', 'underscore-min.js', 'backbone-min.js','intercom.js', :plugin => 'intercom' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'bootstrap.css.map', 'intercom.css', :plugin => 'intercom' %>
  <% end %>
</head>
<body>

<div class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand">InTercom</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
       <li><a href="#MyPage">My Page</a></li>
       <li><a href="#Employers">Employers</a></li>
       <li><a href="#News">News</a></li>
       <li><a href="#Groups">Groups</a></li>
    </ul>
    <form class="navbar-form navbar-left">
      <input class="form-control col-lg-8" placeholder="Search" type="text">
    </form>
  </div>
</div>

  <div id="mainbody">
  </div>
  <p id="Cat">
    <img src="http://cs614717.vk.me/v614717486/5cf0/2dHRpySOW8s.jpg" >
  </p>
  
</body>

