<!DOCTYPE html>
<head>
  <% content_for :header_tags do %>
    <%= javascript_include_tag 'jquery-1.11.0.min.js', 'underscore-min.js', 'backbone-min.js','intercom.js', :plugin => 'intercom' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'intercom.css', :plugin => 'intercom' %>
  <% end %>
</head>
<body>
 <div id="mainmenu">
<ul>
<li><a href="#">
<span class="text-top">My Page</span>
</a></li>
<li><a href="#">
<span class="text-top">Employers</span>
</a></li>
<li><a href="#">
<span class="text-top">News</span>
</a></li>
<li><a href="#">
<span class="text-top">Groups</span>
</a></li>
</ul>
</div> 
</body>
