<!DOCTYPE html>
<head>
  <% content_for :header_tags do %>
    <%= javascript_include_tag 'jquery-1.11.0.min.js', 'underscore-min.js', 'backbone-min.js','intercom.js', :plugin => 'intercom' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'intercom.css', :plugin => 'intercom' %>
  <% end %>
</head>
<body>
  <div class="navbar navbar-default " role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a href="/"><img alt="" border="0" class="logoStyle" src="/assets/parelco_logo-769fe55b028387ef917dd0422d580e30.png" title=""></a> -->
      </div>
      <div class="collapse navbar-collapse top-menu">
        <ul class="nav navbar-nav">
          <li class="menu-item" value="mypage"><a href="#MyPage">My Page</a></li>
          <li class="menu-item" value="employers"><a href="#Employers">Employers</a></li>
          <li class="menu-item" value="news"><a href="#News">News</a></li>
          <li class="menu-item" value="news"><a href="#Groups">News</a></li>
        </ul>
        <div class="navbar-form navbar-right">
          <input type="text" class="form-control col-lg-8 search-control" placeholder="Search">
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <p id="Cat">
    <img src="http://cs614717.vk.me/v614717486/5cf0/2dHRpySOW8s.jpg" >
  </p>






<p>
  Name:
    <b>
      <%= @userWelcome %>
    </b>
</p>
<br>

<b>Skills:</b>
<br>
<%if @skillsCurrent.count == 0 %>
  Haven't any skill
<% else %>
  <% @skillsCurrent.each do |sc| %>
    <% SkillsTerc.where(id: sc.id_skills).each do |skill| %>
      <q><%= skill.name %></q>
    <% end %>
  <% end %>
<% end %>






  <div id="mainmenu">
  </div>
</body>
