<div id="questions-header-template" class="form-group col-md-offset-1 col-md-11 questions-header">
  <span class="fio">{t.lastname} </span>
  <span class="fio"> {t.firstname}</span>
  <span class="fio" rv-unless="t.lastname" rv-text="t.lastnameRu"></span>
  <span class="fio" rv-unless="t.firstname" rv-text="t.firstnameRu"></span>
  <br>
  <label for="uPosition"><%=l('position_title')%>: </label>
  <span id="uPosition"> {t.position} </span>

  <span rv-if="t.peons"> (</span>
    <a rv-each-i="t.peons" rv-href-rooted="i.id" data-root='#user_event/'>
        {i.name} 
    </a>
  <span rv-if="t.peons">)</span>
  <br/>
  <label for="uProject"><%=l('project_title')%>: </label>
  <span id="uProject"> {t.project}</span>
  <br/>
  <label for="uExtraProject"><%=l('project_extra_title')%>: </label>
  <span id="uExtraProject"> {t.extraProject}</span>
  <br/>
  <label for="uCreatedOn"><%=l('employment_date')%>: </label>
  <span id="uCreatedOn"> {t.created_on | date}</span>
</div> 

<div id="question-template" rv-class-has-error="t.validationError" class="form-group col-md-12">
  <span class="question-title">{ t:q }</span>
  <span class="q-has-error" rv-if="t.validationError">({ t.validationError })</span>
  <input type="text" class="form-control" rv-value="t:a"/>
</div> 

<div id="freeform-template" rv-class-has-error="t.validationError" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <span class="q-has-error" rv-if="t.validationError">({ t.validationError })</span>
  <textarea class="form-control" rv-value="t:a" ></textarea>
</div>

<div id="personal-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('personal_Yes')%></option>
    <option value=2><%=l('personal_No')%></option>
    <option value=3><%=l('personal_Not_Now')%></option>
  </select>
</div>

<div id="header-template" class="form-group col-md-12 question-header">
  <span>{ t:q }</span>
</div>

<div id="quality-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('qualitya1')%></option>
    <option value=2><%=l('qualitya2')%></option>
    <option value=3><%=l('qualitya3')%></option>
    <option value=4><%=l('qualitya4')%></option>
    <option value=5><%=l('qualitya5')%></option>
    <option value=6><%=l('qualitya6')%></option>
    <option value=7><%=l('qualitya7')%></option>
    <option value=8><%=l('qualitya8')%></option>
    <option value=9><%=l('qualitya9')%></option>
    <option value=10><%=l('qualitya10')%></option>
    <option value=11><%=l('qualitya11')%></option>
    <option value=12><%=l('qualitya12')%></option>
  </select>
</div> 

<div id="interest-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('interest_1')%></option>
    <option value=2><%=l('interest_2')%></option>
    <option value=3><%=l('interest_3')%></option>      
  </select>
</div> 

<div id="correspond-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('correspond_1')%></option>
    <option value=2><%=l('correspond_2')%></option>
    <option value=3><%=l('correspond_3')%></option>
  </select>
</div> 

<div id="prospects-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('prospects_1')%></option>
    <option value=2><%=l('prospects_2')%></option>
    <option value=3><%=l('prospects_3')%></option>
  </select>
</div> 

<div id="myqualification-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('myqualification_1')%></option>
    <option value=2><%=l('myqualification_2')%></option>
    <option value=3><%=l('myqualification_3')%></option>      
  </select>
</div>

<div id="info-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('info_1')%></option>
    <option value=2><%=l('info_2')%></option>      
  </select>
</div> 

<div id="workspace-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('workspace_1')%></option>
    <option value=2><%=l('workspace_2')%></option>
    <option value=3><%=l('workspace_3')%></option>
  </select>
</div>

<div id="infra-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('infra_1')%></option>
    <option value=2><%=l('infra_2')%></option>
    <option value=3><%=l('infra_3')%></option>
  </select>
</div> 

<div id="salary-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('salary_1')%></option>
    <option value=2><%=l('salary_2')%></option>
    <option value=3><%=l('salary_3')%></option>
    <option value=4><%=l('salary_4')%></option>
    <option value=5><%=l('salary_5')%></option>
  </select>
</div> 

<div id="feedback-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('feedback_1')%></option>
    <option value=2><%=l('feedback_2')%></option>
    <option value=3><%=l('feedback_3')%></option>
    <option value=4><%=l('feedback_4')%></option>      
  </select>
</div> 

<div id="help-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('help_1')%></option>
    <option value=2><%=l('help_2')%></option>
    <option value=3><%=l('help_3')%></option>
    <option value=4><%=l('help_4')%></option>      
  </select>
</div> 

<div id="relationship-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('relationship_1')%></option>
    <option value=2><%=l('relationship_2')%></option>
    <option value=3><%=l('relationship_3')%></option>      
  </select>
</div> 

<div id="bonus-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('bonus_1')%></option>
    <option value=2><%=l('bonus_2')%></option>
    <option value=3><%=l('bonus_3')%></option>
    <option value=4><%=l('bonus_4')%></option>
    <option value=5><%=l('bonus_5')%></option>
    <option value=6><%=l('bonus_6')%></option>      
  </select>
</div> 

<div id="insurance-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('insurance_1')%></option>
    <option value=2><%=l('insurance_2')%></option>
    <option value=3><%=l('insurance_3')%></option>
    <option value=4><%=l('insurance_4')%></option>
    <option value=5><%=l('insurance_5')%></option>      
  </select>
</div> 

<div id="desire-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('desire_1')%></option>
    <option value=2><%=l('desire_2')%></option>      
  </select>
</div> 

<div id="satisfied-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('satisfied_1')%></option>
    <option value=2><%=l('satisfied_2')%></option>      
  </select>
</div> 

<div id="satisfaction-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('satisfaction_1')%></option>
    <option value=2><%=l('satisfaction_2')%></option>
    <option value=3><%=l('satisfaction_3')%></option>
    <option value=4><%=l('satisfaction_4')%></option>
    <option value=5><%=l('satisfaction_5')%></option>
  </select>
</div> 

<div id="loyality-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('loyalitya1')%></option>
    <option value=2><%=l('loyalitya2')%></option>
    <option value=3><%=l('loyalitya3')%></option>
    <option value=4><%=l('loyalitya4')%></option>
    <option value=5><%=l('loyalitya5')%></option>
  </select>
</div> 

<div id="mgr_correspond-template" class="form-group col-md-12">
  <span class="question-title">{ t:q }:</span>
  <select class="form-control" rv-value="t:a">
    <option value=1><%=l('mgr_correspond_1')%></option>
    <option value=2><%=l('mgr_correspond_2')%></option>
  </select>
</div> 

<div id="hr-results-template" class="col-md-12 form-group hr-results">
  <div class="row">
    <div class="col-md-4"><label>{ t:a00 }:</label></div>
    <div class="col-md-4"><label>{ t:a01 }:</label></div>
    <div class="col-md-4"><label>{ t:a02 }:</label></div>
  </div>
  <div class="row">
    <div class="col-md-4"><input class="form-control" rv-value="t:a10"></input></div>
    <div class="col-md-4"><input class="form-control" rv-value="t:a11"></input></div>
    <div class="col-md-4"><input class="form-control" rv-value="t:a12"></input></div>    
  </div>
  <div class="row">
    <div class="col-md-4"><input class="form-control" rv-value="t:a20"></input></div>
    <div class="col-md-4"><input class="form-control" rv-value="t:a21"></input></div>
    <div class="col-md-4"><input class="form-control" rv-value="t:a22"></input></div>    
  </div>
  <div class="row">
    <div class="col-md-4"><input class="form-control" rv-value="t:a30"></input></div>
    <div class="col-md-4"><input class="form-control" rv-value="t:a31"></input></div>
    <div class="col-md-4"><input class="form-control" rv-value="t:a32"></input></div>    
  </div>
  <div class="row">
    <div class="col-md-4"><input class="form-control" rv-value="t:a40"></input></div>
    <div class="col-md-4"><input class="form-control" rv-value="t:a41"></input></div>
    <div class="col-md-4"><input class="form-control" rv-value="t:a42"></input></div>    
  </div>
  <div class="row">
    <div class="col-md-4"><input class="form-control" rv-value="t:a50"></input></div>
    <div class="col-md-4"><input class="form-control" rv-value="t:a51"></input></div>
    <div class="col-md-4"><input class="form-control" rv-value="t:a52"></input></div>    
  </div>
</div> 


