hr {
  border: none;
  color: #1995dc;
  background-color: #1995dc;
  height: 2px; 
}

div .content {
  background-color: #f5f5f5;
}

.navbar-brand:hover,.navbar-brand:focus, .navbar-brand {

}

div .employer_img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

button.btn-search{    
  margin-left: 5px;
}

.profile-img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.no-profile-img {  
  content: url("../images/noavatar.jpg"); 
  /*width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 10px;*/
}


