div .left-menu {
<<<<<<< HEAD
  background-color: white;
}

div .content{
  background-color: white;
=======
  background-color: Black;
  color: White;
}

div .content{
  background-color: LightGray;
>>>>>>> 4ef26a62ad1382c66f543b3ef4ac901f020bda6d
}

