div .left-menu {
  /*background-color: white;*/
}

div .content {
  /*background-color: LightGray;*/
}

div .employer_row {
	/* border:1px solid;
	border-color: lightblue;
	border-radius:15px;
  */
}

.bluehr{
  border-color: #1995dc;
}

div .employer_row div img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

