.navbar {
	background-color: #EEEEEE;
	height: 2.2em;	
	font-size: 90%;	
	padding: 3px 20px 3px 3px;
}

.navbar-nav {
	padding-top: 5px;
	margin-top: -1px;
}

.navbar-header {
	 display: none;
}


#content {
	padding: 0px;
}

.nav li {
  float:left;
  list-style-type:none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  white-space:nowrap;
}

.nav li a {color: #467aa7; margin-right: 8px; padding-top: 5px; font-weight: bold;}

#main { font:90% Verdana,Tahoma,Arial,sans-serif; background: #e8eaec; }
#main div.top-menu a { font-weight: bold; color: #467aa7;}
#main div.top-menu a:hover { color: #467aa7; text-decoration: underline; }

.navbar-right {float:right;}
.demo_lbl {  float:right;  padding-top: 5px; font-size: 10px; color: #467aa7; }
/*.demo_lbl {  float:right;    padding-top: 15px;  font-size: 10px;  }*/

#container-fluid {margin: 15px; background-color: #f6f6f6; border: 1px solid #e4e4e4;}

.profile-data {display: inline-block;}

.profile-div {display: none;}

.no-profile-img {    
  display: block;
  background: url("../images/noavatar.jpg") no-repeat;
  width: 88px;
  height: 88px;
  /*padding-left: 88px;*/
}

div.employer_img{float:left; margin: 2px 10px 2px 2px;}

div.theme-picker >div:first-child{float:left; line-height: 20px; padding-right: 10px;}
.cv{display:none;}
